body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    color: #66BFBF;
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

.top {
    background-color: rgb(199, 240, 235);
    position: relative;
    padding-top: 100px;

}

.bott {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pro {
    text-decoration: underline;
}

.topp {
    position: absolute;
    right: 300px;
    top: 50px
}

.profilepic {
    height: 200px;
    width: 200px;
}

.guitar {
    width: 25%;


}

.footer-link {
    color: #11999E;
}

.skill-row-top-container{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: flex;
    gap: 30px;

}

.chillie {
    width: 25%;
}
.comp{
     
}
.skill-row-bottom-container{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
   
}
.skill-row-bottom-container img{
    width: 25%;
}
